* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(250, 115, 82);
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
   
  }